/* CSS Document */

.center {
	min-height:100px;
	width:350px;
	padding:25px;
	margin:100px auto;
	border:2px solid #999;
	text-align:center;
}
	label {
		display:block;
	}
	.info {
		margin-bottom:25px;
		font-size:16px;
	}
	input {
		margin:0 auto;
		display:block;
		padding:5px;
		text-align:center;
	}