/* CSS Document */

.center {
	min-height:100px;
	width:250px;
	padding:25px;
	margin:100px auto;
	border:2px solid #999;
	text-align:center;
}

	.info {
		margin-bottom:25px;
	}
	input {
		margin:0 auto;
	}