.left_nav{
	border:medium none;
	float:none;
	margin:0 0 0.5em;
	overflow:hidden;
	padding:0;
	width:120px;
	padding:5px 0 0;
}
.blog_listing{
	padding:0;
	width:100%;
	margin-left:-140px;
}
	.content_listing{
		margin-left:140px;
	}
	
.field{
	margin-bottom:10px;
}
input[type='text'],textarea{
	width:300px;
}
label{
	font-weight:bold;
	width:100px;
	display:inline-block;
}

.blog_category span{
	margin-left:5px;
	color:red;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}