.saved {
	font-size:9px;
	color:#0C3;
	margin-left:10px;
}
#nickname {
	font-size: 16px;
	font-weight:bold;	
}
#nickname_change {
	cursor:pointer;	
}
#skybox {
	background-color:#fff;
}

table {
	background-color:#f3f3f3;
	border:1px solid #ccc;
	padding:10px;
	margin-bottom:20px;
}
td {
	padding:10px;
}