#skybox_template_title {
	font-size:18px;
}

.saved {
	font-size:9px;
	color:#0C3;
	margin-left:10px;
}
#nickname {
	font-size: 12px;
	font-weight:bold;	
}
#nickname_change {
	cursor:pointer;	
}
#skybox {
	background-color:#fff;
}

.ids {
	background-color:#f3f3f3;
	border:1px solid #ccc;
	padding:10px;
	margin-bottom:5px;
}
.ids td {
	padding:5px;
}