/*
 *
 *  BLOG STYLE
 *
 */
.blog-header {
    height: 130px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 640px;
}

.blog-header-pagination{
    margin-top:10px;
}

.blog-foot-pagination{
    margin-top:50px;
    margin-bottom:50px;

    display: block;
    font-size: 30px;
    background-color: #f3f3f3;
    /* border: 1px solid #ccc; */
    padding: 3px 6px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.blog-foot-pagination.new{
    float:left;
}

.blog-foot-pagination.old{
    float:right;
}

.blog-article-header {
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 640px;
}
.blog-article-header a {
    display: block;
}

.blog-post {
    color:#666766;
    overflow: hidden;
    padding: 10px 0 20px;
}
.blog-post-image {
    float: left;
    display: block;
    position:relative;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0 15px 15px 0;
}
.blog-divider{
    border-bottom: dashed 1px #ccc;
    width:100%;
    float:left;
    clear:both;
    margin-bottom: 10px;
}

.blog-mini-top {
    overflow: hidden;
    padding-top: 10px;
}

.blog-post-title{
    font-size:2em;
    color:#333333;
    margin-bottom:5px;
}
.blog-post-title a {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}
.blog-mini-post .blog-post-title a {
    font-size: 19px;
    color: #444;
}
.blog-post-author {
    font-size: 12px;
    margin-top: 5px;
}
.blog-post-time {
    color: #aaa;
}
.blog-post-author a {
    font-weight: bold;
}
a.blog-category {
    float: left;
    display: block;
    padding: 3px 6px;
    background-color: #a2242a;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position:absolute;
    top: -10px;
    left: 10px;
}
a.blog-category-alone {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 15px;
}

 #rightbar{
    float: right;
    width: 160px;
    margin-left:10px;
    font-size: 13px;
}

#rightbar.bottom{
    border-bottom:1px solid #cccccc;
    margin-bottom : 10px;
    padding-bottom:10px;
    clear:both;
    float:left;
    margin-left:0;
    width:100%;
}

#rightbar.empty{
   background-color:#cccccc;
   height:300px;
}

#rightbar.bottom.empty{
   height:160px;
   width:100%;
}

.preloaded{
    display: none;
}

#blog-post-body {
    font-size: 13px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
}

.blog-post-footer {
    overflow: hidden;
    border-top: solid 1px #cccccc;
    margin-top: 15px;
    padding-top: 15px;
}
.blog-post-footer-items {
    float: left;
    width: 465px;
}

.slideshow-link{
	display:block;
	float:left;
	font-size:45px;
	width:215px;
}

.blog-post-footer-venue-name{
   font-size:14px;
}

.blog-post-footer-item{
    font-size: 12px;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.blog-post-footer-item.last{
   margin-bottom: 10px !important;
}

.blog-post-footer-items.long{
    width: 640px !important;
}
.blog-post-map {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.blog-post-map-address{
   font-size:12px;
}

.blog-post-tags {
}

.rightbar{
    border-bottom:1px solid #cccccc;
    padding-bottom:10px;
    margin-bottom:15px;
}

.rightbar.bottom{
   float:left;
   clear:none;
   margin-bottom:0px;
   padding-bottom:0px;
   margin-right:10px;
   border-right:1px solid #cccccc;
   padding-right:10px;
   border-bottom-style:none;
}

.rightbar.no-float{
   float:none !important;
   border-right-style:none;
   margin-right:0px;
}

a.blog-read-more {
    display: block;
    font-weight: bold;
    float: right;
    background-color: #f3f3f3;
    /* border: 1px solid #ccc; */
    padding: 3px 6px;
}
.blog-tags {
    float: left;
    width: 500px;
}

#blog-tags-filedunder{
    font-weight:bold;
    color:#333333;
}

.blog-mini-footer {
    overflow: hidden;
    margin-top: 5px;
}
.blog-mini-post {
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    padding: 20px 0 15px;
}
.blog-mini-post a {
    text-decoration: none;
}
.blog-mini-post a:hover {
    text-decoration: underline;
}
.blog-mini-comments {
    float: left;
    margin: 3px 10px 0;
    overflow: hidden;
}
.blog-mini-comments a.count {
    background-color: #000;
    color: #fff;
}
.blog-mini-comments a {
    float: left;
    display: block;
    padding: 1px 4px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.blog-mini-share {
    float: left;
    margin-top: 3px;
}

.blog-post-image{
   position:relative;
}

.blog-authors {
    float: left;
    width: 144px;
    background-color: #000;
    color: #fff;
    padding: 8px;
}
.blog-submit {
    float: left;
    margin-left: 10px;
    width: 150px;
}
.blog-pagination {
    text-align: center;
}

.blog-post-intro{
    font-size:1.1em;
    color:#333333;
    margin-bottom:9px;
}

.blog-post-info{
    margin-bottom:13px;
    font-size:.8em;
}

.blog-profile-header{
   position:relative;
/*   background:url("/templates/web2010/images/jb-h1.png") repeat-x scroll center bottom; */
   background-color:#333333;
   color:#FFFFFF;
   font-size:50px;
   padding:10px 20px 0px;
   height: 93px;
}

.header-nav{
   position:absolute;
   right:15px;
   bottom:20px;
   font-size:17px;
}

.header-nav a{
   color: #ffffff !important;
}

.header-logo{
   margin-top:15px;
   margin-bottom:15px;
}

#rightbar_googlemaps{
   height: 160px;
   width:160px;
   margin-bottom:10px;
}

#rightbar_googlemaps.bottom{
   float:left;
   margin-bottom:0px;
   margin-right:10px;
}

#rightbar_googlemaps_address.bottom{
  float:left;
}

#blog-post-content .article_image,
body#tinymce .article_image {
   margin-right:15px;
   margin-bottom:5px;
   float:left;
}

#blog-post-content, body#tinymce {
    font-size: 13px;
    font-family: Arial, Helvetica;
}

img.article_image.toowide {
   float: none !important;
   margin-right: 0px !important;
}

.article_image_caption {
   color:#000000;
   font-size:11px;
}

.article_image_credits{
   font-style:italic;
   font-size:10px;
}

hr{
   display:none;
}
