h2,h3,h1,h4,h5,h6,h7{
	margin:0;
}
#db-info{
	
}
	#db-info hr{
		height:1px;
		margin:1px;
	}
	#db-info pre{
		margin:0;
		display:inline-block;
	}
#sql{

}	

#options{
	width:400px;
}

#execute{
	margin-top:15px;
}
.col{
	margin:10px;
	float:left;
}
.likelink{
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	text-align:center;
}
.likelink:hover{
	text-decoration:underline;
}
#page_content{

}