.gallery{
  height: 481px;
  width: 495px;
  background-color:#000000;
  position:relative;
}

.gallery_pane, .gallery_pane_wrap{
  height: 300px;
  width: 475px;
  margin:auto;
  z-index:1;
  position:relative;
}

.gallery_grid{
  margin:auto;
  position:relative;
  bottom:0px;
  z-index:2;
}

.pane_leftnav, .pane_rightnav{
  position:absolute;
  top:50%;
  z-index:2;
  cursor:pointer;
  opacity: .65;
  height: 50px;
  width: 50px;
  visibility: hidden;
}

.pane_leftnav{
  left:0;
  background-image: url('/images/gallery_left.png');
}

.pane_rightnav{
  right:0;
  background-image: url('/images/gallery_right.png');
}

.gallery_enlarge{
  position:absolute;
  right:0px;
  bottom:0px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index:2;
  padding:5px;
  padding-right:8px;
  opacity: .65;
  cursor:pointer;
}

.grid_row{
  float:left;
  clear:left;  
}

.grid_row_first{
}

.grid_row_last{
  padding-bottom:0 !important;
}

.grid_cell{
  height: 56px;
  width: 83px;
  float: left;
  cursor: pointer;
}

.grid_cell_first{

}

.grid_cell_last{
   margin-right:0 !important;
}

.grid_cell:hover{
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.grid_cell_selected{
  z-index:5;
  outline: 3px solid #ffffff !important;
  outline-offset: -3px !important;
}

.arrow{
  margin-top:-25px; 
}

.arrow_wrap{
  width:50%;
  height:100%;
  margin:0;
  padding:0;
  border-style:none;
  top:0px;
  position:absolute;
  z-index: 2;
  cursor:pointer;
}

.arrow_wrap_right{
  right:0px;
}

.arrow_wrap_left{
  left:0px;
}

img.arrow{
  visibility:hidden;
}

.arrow_wrap:hover div.arrow{
  visibility:visible !important;
}

.skybox-close-button{
  background-color:#000000;
  font-weight:bold;
  padding-bottom:3px;
  padding-right:3px;
  text-align:right;
}
