table.listing {
	border-width: 1px 0 1px;
	border-spacing: 0px;
	border-style: solid none solid;
	border-color: #cccccc;
	border-collapse: collapse;
	width: 100%;
}
table.listing th {
	text-align: left;
	font-size: 14px;
	border-width: 1px;
	padding: 5px 10px 5px 10px;
	border-style: solid none solid none;
	border-color: #cccccc;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.listing td {
	font-size: 13px;
	border-width: 1px;
	padding: 5px 10px 5px 10px;
	border-style: dashed none dashed none;
	border-color: #cccccc;
	-moz-border-radius: 0px 0px 0px 0px;
}

/* snippet::tabs */
.tabs ul{
	border-bottom:1px solid #CCD5E4;
	height:23px;
	list-style-type:none;
	margin:0 0 10px;
	padding:4px 0;
}
	.tabs ul li {
		background-color:#CCD5E4;
		display:inline-block;
		float:left;
		margin-left:4px;
		margin-right:4px;
		padding:1px;
	}
	.tabs ul li a {
		background-color:#EFF2F7;
		border:medium none;
		float:left;
		line-height:16px;
		margin:0;
		padding:6px 10px 4px;
		text-decoration:none;
	}
		.tabs ul li a:hover{
			background-color:#fff;
		}
	.tabs ul li.tab_on {
		padding-bottom:0;
	}
	.tabs ul .tab_on a {
		font-weight:bold;
		padding-bottom:5px;
        background-color: #fff;
        color: #000;
	}

.vertical-tabs ul {
	margin: 10px 0;
	padding: 0;
	border-bottom: #CCCCCC 1px solid;
}
.vertical-tabs ul li {
	list-style:none;
	padding: 3px;
	border-top: #CCCCCC 1px solid;
	background-color:#f6f6f6;
}
.vertical-tabs ul li.tab_on a {
	font-weight: bold;
	color:#000000;
	text-decoration:none;
}
.vertical-tabs ul li.tab_on {
	background-color:#FFFFFF;
}


/* standard form */
form.standard_form {
	margin-bottom: 15px;
}

form.standard_form .note {
	background:#18A6E7;
	color:#fff;
	font-size: 12px;
	line-height:16px;
	padding:10px;
	width: 140px;
}

form.standard_form fieldset {
	border: solid 1px #CCCCCC;
	padding: 15px;
}

form.standard_form legend {
	border: solid 1px #CCCCCC;
	padding: 3px 10px 3px 10px;
}

form.standard_form .field {
	margin-bottom: 15px;
}

form.standard_form label {
	display: block;
	width:auto;
}

form.standard_form label.labelh {
	display: inline;
	font-weight: bold;
}

form.standard_form .save_button {
	margin-top: 10px;
	font-size:16px;
}

form.standard_form .label {
	font-weight: bold;
}

form.standard_form .radio_field label {
	display: inline;
}


.aql_error {
	border: 1px #FF0000 dashed;
	background-color:#FFFFEE;
	padding: 10px;
	margin: 15px 0 15px 0;
	font-weight:bold;
}
.aql_saved, .aql_success {
	border: 1px #00FF00 dashed;
	/* background-color:#EEFFEE; */
	padding: 10px;
	margin: 15px 0 15px 0;
	font-weight:bold;
}

.mediaItemGallery {
	list-style:none;
	margin:0 0 10px;
	overflow: hidden;
}
.mediaItem {
	float: left;
	border: 2px solid #ccc;
	cursor: pointer;
	padding:2px;
	background: #ccc;
	margin-bottom: 5px;
}

.upload_status {
	padding-top:10px;
}
	.upload_status .pluploadUploadFile {
		background: #fff;
		border: 1px solid #ccc;
		font-size: 10px;
		margin-bottom:2px;
		padding:10px;
	}
		.upload_status .pluploadUploadFile a {
			cursor: pointer;
			display:block;
			height: 16px;
			float:right;
			margin-top:-2px;
			width:16px;
		}
.loading {
	background:#fff;
	padding:20px;
	float:left;
	margin:10px;
	border-radius: 10px;
	border-color: #eee;
}
.loading:after {
	clear:left;
}

.pagination-limit {
    
}
.pagination-links {
    margin: 10px 0;
    text-align: center;
}
.pagination-link {
    font-size: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.pagination-link.selected {
    background-color: #fff;
    color: #000;
}